body {
	background-color: black;
	margin: 0px;
	padding: 0px;
}

html,
body {
	overflow: hidden;
	transform: transale3d(0,0,0); 
}
#myCanvas {
	transform: translateZ(0);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  animation-name: example;
  animation-duration: 3s;
animation-timing-function: cubic-bezier(0,-.5,0,2);
}


/* Standard syntax */
@keyframes example {
  from {background-color: rgba(0,0,0,1);display: block;}
  to {background-color: rgba(0,0,0,0);display: none;}
}