<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.5.37/Tone.js"></script>
<script>
	document.documentElement.addEventListener(
		"mousedown",
		function() {
			mouse_IsDown = true;
			if (Tone.context.state !== 'running') {
				Tone.context.resume();
			}
		})
	Tone.start()
	//create a synth and connect it to the master output (your speakers)
	var synth = new Tone.Synth().toMaster()

	//play a middle 'C' for the duration of an 8th note
	synth.triggerAttackRelease('C4', '8n')
	//schedule a series of notes to play as soon as the page loads
	synth.triggerAttackRelease('C4', '4n', '8n')
	synth.triggerAttackRelease('E4', '8n', Tone.Time('4n') + Tone.Time('8n'))
	synth.triggerAttackRelease('G4', '16n', '2n')
	synth.triggerAttackRelease('B4', '16n', Tone.Time('2n') + Tone.Time('8t'))
	synth.triggerAttackRelease('G4', '16', Tone.Time('2n') + Tone.Time('8t') * 2)
	synth.triggerAttackRelease('E4', '2n', '0:3')

</script>
